<a href="https://colab.research.google.com/github/19PA1A0516/7-3-2020/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [0]:
df=pd.read_csv("students_placement_data.csv")
df.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
df.isna().any()    #it give if their is any nan in the rows#

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x=df[["SSC Percentage","inter_Diploma_percentage"]].values
y=df[["B.Tech_percentage"]].values

In [0]:
x.shape

(117, 2)

In [0]:
y.shape

(117,)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)     #it split the data 80% in the trained one and 20% into the test qne# 
print(y_train)

[[57.3 ]
 [42.  ]
 [74.25]
 [31.2 ]
 [52.09]
 [53.  ]
 [72.73]
 [72.47]
 [42.17]
 [36.47]
 [49.68]
 [33.77]
 [52.56]
 [72.57]
 [62.97]
 [76.35]
 [69.48]
 [65.6 ]
 [76.02]
 [38.  ]
 [71.65]
 [49.67]
 [60.72]
 [78.6 ]
 [60.35]
 [61.68]
 [55.49]
 [71.45]
 [59.  ]
 [45.45]
 [58.67]
 [42.52]
 [75.96]
 [85.39]
 [52.  ]
 [72.74]
 [51.  ]
 [62.2 ]
 [67.21]
 [58.  ]
 [56.88]
 [40.  ]
 [65.7 ]
 [64.36]
 [70.85]
 [68.7 ]
 [70.3 ]
 [58.  ]
 [51.06]
 [52.31]
 [54.  ]
 [65.46]
 [71.94]
 [72.57]
 [50.55]
 [88.1 ]
 [74.34]
 [69.6 ]
 [77.5 ]
 [57.8 ]
 [76.3 ]
 [74.5 ]
 [57.75]
 [44.73]
 [62.16]
 [76.9 ]
 [54.16]
 [68.9 ]
 [73.09]
 [55.82]
 [72.68]
 [70.09]
 [61.  ]
 [59.53]
 [56.89]
 [67.5 ]
 [72.4 ]
 [77.95]
 [54.74]
 [64.63]
 [62.99]
 [80.47]
 [42.  ]
 [75.42]
 [73.01]
 [63.  ]
 [51.  ]
 [53.26]
 [68.5 ]
 [75.13]
 [78.6 ]
 [67.06]
 [69.48]]

In [0]:
model=LinearRegression()       #it fit the x_train,y_train from linear regression#
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
predicted_value=model.predict(x_test)
predicted_value.shape

(24, 1)

In [0]:
x_test.shape     #shape of the x_test#

(24, 2)

In [0]:
y_test.shape    #it gives the shape of y_test#

(24, 1)

In [0]:
Actual_predicted=pd.DataFrame({"Actual":y_test.flatten(),"Predicted":predicted_value.flatten()})

In [0]:
k=Actual_predicted.head()  #it gives first five rows#

   Actual  Predicted
0   71.49  59.484282
1   81.10  74.392371
2   62.98  47.705109
3   68.70  62.290592
4   61.02  62.072696